In [1]:
import pandas as pd
import numpy as np
import math
import statistics
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_json('/content/loan_data.json')

In [6]:
df.head()

  Application_ID Gender Married  ... Property_Area  Income Application_Status
0       LP001002   Male      No  ...         Urban  medium                  Y
1       LP001003   Male     Yes  ...         Rural  medium                  N
2       LP001005   Male     Yes  ...         Urban     low                  Y
3       LP001006   Male     Yes  ...         Urban     low                  Y
4       LP001008   Male      No  ...         Urban  medium                  Y

[5 rows x 10 columns]

In [4]:
print('Shape of the Dataset = ',df.shape)

Shape of the Dataset =  (511, 10)

In [7]:
df.describe()

       Credit_History
count      511.000000
mean         0.843444
std          0.363738
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000

### 1. Find % of total applicants for each unique value of dependents.

In [11]:
# Here is first calcualted the count of unique value of dependents and than calculated the percentage.
print('The Unique values in Dependents are - ', df['Dependents'].unique())
print('The count of Unique values : ')
df['Dependents'].value_counts()

The Unique values in Dependents are -  ['0' '1' '2' '3+']
The count of Unique values :

0     294
2      88
1      85
3+     44
Name: Dependents, dtype: int64

In [12]:
n = df['Dependents'].unique()
print('Percentage of Total applicants for each unique values -')
total = df.shape[0]
for i in range(0,len(n)):
  a = df['Dependents'].value_counts()[i]
  per = (a/total) * 100
  print(n[i]," = ",round(per,2),"%")

Percentage of Total applicants for each unique values -
0  =  57.53 %
1  =  17.22 %
2  =  16.63 %
3+  =  8.61 %

### 2. Find the average number of dependents per applicant.

In [17]:
# [HAVE A DOUBT ON THIS QUESTION] So I calcualted the average of dependents using the count
zero_cnt = df['Dependents'].value_counts()[0]
one_cnt = df['Dependents'].value_counts()[1]
two_cnt = df['Dependents'].value_counts()[2]
thr_cnt = df['Dependents'].value_counts()[3]

In [18]:
print("Average number of dependents per applicant - ")
print((zero_cnt + one_cnt + two_cnt + thr_cnt)/3)
# I derived that average number of dependents per applicant is 0 whose count is 294.

Average number of dependents per applicant -
170.33333333333334

### 3. Find the %of applications approved for self-employed applicants

In [19]:
# Here I find the percentage of applications whose self-employed status is 'Yes'
yes = df['Self_Employed'].value_counts()[1]
ans = (yes/total) * 100
print("The percentage of applications approved for self-employed applicants are  = ",round(ans,2),"%")

The percentage of applications approved for self-employed applicants are  =  13.7 %

### 4. What is the % of rejections for married male applicants

In [20]:
# Here I calculated the % of rejection for married male applicants using the columns Gender, Married and Application
# status. 
count = 0
for i in range (0,total):
  if (df['Gender'][i] == 'Male' and df['Married'][i] == 'Yes' and df['Application_Status'][i] == 'N'):
    count+=1
ans4 = (count/total)*100
print("The % of rejections for married male applicants are = ",round(ans4,2),"%")

The % of rejections for married male applicants are =  17.03 %

### 5. Which property area has the maximum approval ratio

In [21]:
# Here to find the maximum approval area, I use the columns Property Area and Application status to 
# get the value of count.
area = df['Property_Area'].unique()
print(area)
print(df['Property_Area'].value_counts())
total_approved_cnt = 0
urban_cnt = 0
semi_cnt = 0
rural_cnt = 0
for i in range(0,total):
  if (df['Application_Status'][i] == 'Y'):
    total_approved_cnt+=1
  if (df['Property_Area'][i] == 'Urban' and df['Application_Status'][i] =='Y'):
    urban_cnt+=1
  if (df['Property_Area'][i] == 'Rural' and df['Application_Status'][i] =='Y'):
    rural_cnt+=1
  if (df['Property_Area'][i] == 'Semiurban' and df['Application_Status'][i] =='Y'):
    semi_cnt+=1
print("---------------------------------------")
print("Approved property count -")
print('Urban = ',urban_cnt)
print('SemiUrban = ',semi_cnt)
print('Rural = ',rural_cnt)
print('Total approved count = ', total_approved_cnt)

['Urban' 'Rural' 'Semiurban']
Semiurban    197
Urban        165
Rural        149
Name: Property_Area, dtype: int64
---------------------------------------
Approved property count -
Urban =  104
SemiUrban =  153
Rural =  90
Total approved count =  347

In [22]:
print("Hence, the property with maximum approval ratio is SemiUrban")

Hence, the property with maximum approval ratio is SemiUrban

### 6. Find average dependents per income group

In [23]:
# Assuming what is asked is to find the average dependents per income group 
# i.e In Income medium dependents can be 0,1,2,3+
# so finding the average of dependents 0 in Income medium 
# and average of dependents 1 in Income medium
# Similarly for 2 and 3+
# Similarly for all medium groups

In [24]:
def findcount(n):
  low_cnt=0
  med_cnt=0
  high_cnt=0
  for i in range(0,total):
    if(df['Dependents'][i] == n):
      if(df['Income'][i]=='low'):
        low_cnt+=1
      if(df['Income'][i]=='medium'):
        med_cnt+=1
      if(df['Income'][i]=='high'):
        high_cnt+=1
  arr = [low_cnt,med_cnt,high_cnt]
  print('For Dependent',n,'the Income count(Low,Medium,High) = ',arr)
  return arr

dep0 = findcount('0')
dep1 = findcount('1')
dep2 = findcount('2')
dep3 = findcount('3+')

For Dependent 0 the Income count(Low,Medium,High) =  [173, 100, 21]
For Dependent 1 the Income count(Low,Medium,High) =  [42, 30, 13]
For Dependent 2 the Income count(Low,Medium,High) =  [41, 41, 6]
For Dependent 3+ the Income count(Low,Medium,High) =  [17, 22, 5]

In [25]:
def printavg(dep0,dep1,dep2,dep3,n): 
  arr = np.array([dep0[n],dep1[n],dep2[n],dep3[n]])
  return np.mean(arr)

low = printavg(dep0,dep1,dep2,dep3,0)
med = printavg(dep0,dep1,dep2,dep3,1)
high = printavg(dep0,dep1,dep2,dep3,2)

print('Average dependent for Low Income Group = ', low)
print('Average dependent for Medium Income Group = ', med)
print('Average dependent for High Income Group = ', high)

Average dependent for Low Income Group =  68.25
Average dependent for Medium Income Group =  48.25
Average dependent for High Income Group =  11.25

### 7. Create a simple predictive model to assess whether a loan application will be approved or rejected and provide the accuracy score.

- Initially I checked the dataset and found that many are object datatype.
- So I used the Label Encoding technique to conver the object to int datatype.
- I removed the first two letters of Application_ID, as it was same in all data and doesnt play an important role.
- Then I split the data set using train_test_split.
- I used Logistic regression model, as the required predcition is 0 and 1 in our case. 
- Due to less number of data, the accuracy is low but can be improved with large number of data.

In [26]:
df.head()

  Application_ID Gender Married  ... Property_Area  Income Application_Status
0       LP001002   Male      No  ...         Urban  medium                  Y
1       LP001003   Male     Yes  ...         Rural  medium                  N
2       LP001005   Male     Yes  ...         Urban     low                  Y
3       LP001006   Male     Yes  ...         Urban     low                  Y
4       LP001008   Male      No  ...         Urban  medium                  Y

[5 rows x 10 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Application_ID      511 non-null    object
 1   Gender              511 non-null    object
 2   Married             511 non-null    object
 3   Dependents          511 non-null    object
 4   Education           511 non-null    object
 5   Self_Employed       511 non-null    object
 6   Credit_History      511 non-null    int64
 7   Property_Area       511 non-null    object
 8   Income              511 non-null    object
 9   Application_Status  511 non-null    object
dtypes: int64(1), object(9)
memory usage: 40.0+ KB

In [30]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df['Gender']=LE.fit_transform(df.Gender)
df['Married']=LE.fit_transform(df.Married)
df['Education']=LE.fit_transform(df.Education)
df['Self_Employed']=LE.fit_transform(df.Self_Employed)
df['Income']=LE.fit_transform(df.Income)
df['Dependents']=LE.fit_transform(df.Dependents)
df['Property_Area']=LE.fit_transform(df.Property_Area)
df['Application_Status']=LE.fit_transform(df.Application_Status)
df.head()

  Application_ID  Gender  Married  ...  Property_Area  Income  Application_Status
0         001002       1        0  ...              2       2                   1
1         001003       1        1  ...              0       2                   0
2         001005       1        1  ...              2       1                   1
3         001006       1        1  ...              2       1                   1
4         001008       1        0  ...              2       2                   1

[5 rows x 10 columns]

In [31]:
df['Application_ID'] = df['Application_ID'].str[2:]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Application_ID      511 non-null    object
 1   Gender              511 non-null    int64
 2   Married             511 non-null    int64
 3   Dependents          511 non-null    int64
 4   Education           511 non-null    int64
 5   Self_Employed       511 non-null    int64
 6   Credit_History      511 non-null    int64
 7   Property_Area       511 non-null    int64
 8   Income              511 non-null    int64
 9   Application_Status  511 non-null    int64
dtypes: int64(9), object(1)
memory usage: 40.0+ KB

In [33]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [36]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
model = LogisticRegression(random_state=0)
model.fit(X_train,y_train)
result = model.predict(X_test)
print("Accuracy  = ",round(100*metrics.accuracy_score(y_test,result),2))
result

Accuracy  =  79.87

array([1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1])